*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #2C3639; 
}



body{
    background-color: #2C3639; 
}

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.section_head{
    grid-column: span 12;
}

.socials{
    grid-column: span 12;
}

p{
    font-size: 1em;
    padding: 1em 0 1em 0;
}

h3{
    font-size: 1.73em;
    padding-bottom: 0.5em;
}

h1{
    font-size: 2.48em;
    padding: 0.5em 0 0.5em 0 ;
}

button{
    padding: 0.2em;
    font-size: 1em;
}

a{
    color: white;
    text-decoration: none;
}

.btn-full{
    border: solid;
    border-radius: 5px;
    border-color: #A27B5C;
    background-color: #A27B5C;
}

.btn-full > a{
    background-color: #A27B5C;
}

.btn-full:hover{
    background-color: #2C3639;
}

.btn-full > a:hover{
    background-color: #2C3639;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section{
        margin: 0 25px 0 25px;
        padding: 25px 0 25px 0;
    }

/* Hero Section Styling */
    .hero-info{
        grid-column: span 12;
    }

    .hero-img{
        display: none;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

