*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #2C3639; 
}



body{
    background-color: #2C3639; 
}

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.section_head{
    grid-column: span 12;
}

.socials{
    grid-column: span 12;
}

p{
    font-size: 1em;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section{
        margin: 0 25px 0 25px;
        padding: 25px 0 25px 0;
    }

/* Hero Section Styling */
    .hero-info{
        grid-column: span 12;
    }

    .hero-img{
        display: none;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

