/* Main navigational styles */

/*Styles for all of the website and for the body*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

body{
    background-color: #2C3639;
    margin: 0 125px 0 125px;
}

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-top: 75px;
    padding-bottom: 75px;
}

h3{
    font-family: 'Big Shoulders Display';
    font-size: 39px;
    font-weight: 700;
    font-style: normal;
    padding-top: 25px ;
    padding-bottom: 25px ;
}

h2{
    font-family: 'Big Shoulders Display';
    font-size: 63px;
    font-weight: 700;
    font-style: normal;
    text-align: center; 
    grid-column: span 12;
}

a{
    text-decoration: none;
    font-size: 25px;
}

button{
    margin-right: 25px;
}

.btn-outline{
    background-color: #2C3639;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s ;
    cursor: pointer;
    border: 2px solid #A27B5C;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

.btn-outline:hover{
    background-color: #A27B5C;
}

.btn-full{
    background-color: #A27B5C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s ;
    cursor: pointer;
    border: 2px solid #A27B5C;
    padding: 10px 20px 10px 20px;
    border-radius: 28px;
}

.btn-full:hover{
    background-color: #2C3639;
}

/* Navigation Bar styling */

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.50rem;
    padding: 20px;

}

.navbar a{
    text-decoration: none;
    color: inherit;

}

.logo{
    margin-right: 50px;
    font-size: 1.70rem;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label{
    display: none;
}


/*Hero Section*/
.hero{
    padding-top: 50px;
}

.hero-info{
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 102px;
    font-family: 'Big Shoulders Display';
}

.hero-info > p {
   font-size: 24px; 
   line-height: 1.5;
   padding-top: 50px;
   padding-bottom:50px;
}



.hero-img{
    grid-column: 7/13;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hero-img > img {
    width: 58%;
}

.socials{
    grid-column: 1/3;
}

.scroll-btn{
    grid-column: 6/8;
}


/*Services Styling*/
.service-h{
    width: 100%; 
}

.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.service-cards{
    width: 32%;
    height: 500px;
    background-color: #A27B5C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.service-cards > p{
    font-size: 24px; 
    text-align: justify;
}

/* Portfolio Section Styling */
.portfolio{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: center;
}

.portfolio >h2{
    width: 100%;
}

.port_cards{
    width: 32%;
    background-color: #A27B5C;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
   
}

.port_cards >img{
    width: 100%;
}

.port_cards > h4{
    font-size: 1.7rem;
    padding: 15px;
}

.port_cards > p{
    font-size: 1.2rem;
    padding: 10px;
}

/* About me Section Styling */

.abt_me_img{
    grid-column: 1/6;
}

.abt_me_img > img{
    width: 100%;
    border-radius: 50%;
}

.abt_me_info{
    grid-column: 7/12;
    text-align: justify;
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.abt_me_info > div > p{
    padding-top: 5px;
    padding-bottom: 5px ;
    font-size: 1.2rem;
}


/* Contact Me Styling Section */
.contact_me >h2 {
    grid-column: span 12;
}



#contact-form{
    grid-column: 4/10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #A27B5C;
    padding: 50px;
    border-radius: 15px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 1.2rem;
    color: white;
    background-color: #3F4E4F;
    border-color: #3F4E4F;
    border-radius: 10px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.2rem;
    
  }
  
  input[type=submit] {
    background-color:#3F4E4F;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    width: 25%;
    font-size: 1.2rem;
    border: 2px solid #3F4E4F;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
  }
  
  input[type=submit]:hover {
    background-color:#2C3639;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
 








