/*Sizes 1440 and lower*/
@media screen and (max-width: 1440px){
  /*Global style changes*/
  h3{
    font-size: 35px;
    }

    h2{
        font-size: 56px;
    }

    h1{
        font-size: 90px;
    }

    a{
        font-size: 21px;
    }

    section{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*Hero Section Styling*/

    .hero-info > p{
        font-size: 21px;
    }

    /*Services Section Styling*/
    .service-cards >p{
        font-size: 21px;
    }

    .abt_me_info{
        grid-column: 7/13;
    }
}

@media screen and (max-width: 1280px){
    h1{
        font-size: 75px;
    } 

    h2{
        font-size: 46px;
    }

    h3{
        font-size: 29px;
    }

    a{
        font-size: 17px;
    }

    .hero-info > p {
        font-size: 17px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .socials{
        grid-column: 1/5;
    }

    .scroll-btn{
        grid-column: 6/9;
    }

    /*Services Styling*/
    .services{
        justify-content: center;
    }

    .service-cards{
        width: 31%;
    }

    .service-cards > p{
        font-size: 17px;
        text-align: left;
    }

    /*Portfolio Section Styling*/

    .port_cards{
        width: 31%;
        padding: 20px;
    }

    .port_cards > h4 {
        font-size: 18px;
        padding: 10px;
    }

    .port_cards > p {
        font-size: 17px;
    }

    /*About Me*/
    .abt_me_info > div > p{
        font-size: 17px;
    }

    /*Contact me Styling*/

    #contact-form{
        padding: 25px;
    }

}

@media  screen and (min-width: 1024px){
    body{
        margin: 0 75px 0 75px;

    }

     #contact-form{
        grid-column: 3/11;
     }
}

@media  screen and (max-width: 768px){
    body{
        margin: 0 50px 0 50px;
    }

    section{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    h1{
        font-size: 50px;
    } 

    h2{
        font-size: 29px;
    }

    h3{
        font-size: 18px;
    }

    a{
        font-size: 15px;
    }

    .hero-info > p{
        font-size: 15px;
    }

    .hero-img > img {
        width: 70%;
    }

    .socials{
        padding-top: 25px;
    }

    .scroll-btn{
        padding-top: 25px;
    }

    /*Services*/
    .service-cards{
        padding: 15px;
        height: 425px;
    }

    .service-cards > p{
        font-size: 15px;

    }

    /*Portfolio Cards*/
    .port_cards{
        width: 45%;
       padding: 15px; 
    }

    .port_cards > p {
        font-size: 15px;
    }

    /*about me styling*/
    .abt_me_info{
        grid-column: 6/13;
    }

    .abt_me_info > div >p{
        font-size:15px;
        
    }

    #contact-form{
        grid-column: 3/11;
    }

    input[type=text], input[type=email], select, textarea{
        font-size: 15px;
    }

    label{
        font-size: 15px;
    }

    input[type=submit]{
        font-size: 15px;
    }
}

@media  screen and (max-width: 640px){
    body{
        margin: 0 50px 0 50px;
    }


    .hero-info{
        grid-column: 1/12;
    }

    .hero-img{
        display: none;
    }

    h1{
        font-size: 50px;
    } 

    h2{
        font-size: 29px;
    }

    h3{
        font-size: 18px;
    }

    a{
        font-size: 15px;
    }


    /*Service Styling*/

    .services{
        flex-direction: column;
    }

    .service-cards{
        width: 100%;
        height: auto;
    }


    /*Portfolio styling*/

    .portfolio{
        flex-direction: column;
    }

    .port_cards{
        width: 100%;
    }

    /*About me Section Styling*/

    .abt_me_img{
        grid-column: 3/11;
    }

    .abt_me_info{
        grid-column: 1/13;
    }

    
    #contact-form{
        grid-column: 3/11;
    }

    input[type=text], input[type=email], select, textarea{
        font-size: 15px;
    }

    label{
        font-size: 15px;
    }

    input[type=submit]{
        font-size: 15px;
    }

    
}